html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RULES

font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Princess Sofia', cursive; */

/* CODE BEGINS, HERE */

html {
  background: url(img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
}
a:link,
a:visited,
nav,
h1,
h2,
button,
.about,
p,
h3 {
  color: #f5f5f5;
}

a:link,
a:visited {
  text-decoration: none;
  font-size: 2rem;
}

nav a,
button {
  font-family: "Bebas Neue", cursive;
}

.navLinks a {
  margin: 2rem 2rem;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

#cta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 38rem;
}

h1,
h2 {
  padding-bottom: 2rem;
}

h1 {
  font-family: "Princess Sofia", cursive;
  font-size: 9.5rem;
  padding-top: 18rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

button {
  width: fit-content;
  background-color: #c8713d;
  font-size: 2.5rem;
  padding: 0.5rem 2.5rem;
  border-radius: 0.6rem;
  border: 4px solid #242829;
}

/* ABOUT.HTML SPECIFIC CSS*/
.about p {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  line-height: 2rem;
}
.about {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  width: 22%;
  text-align: center;
  background-color: rgba(36, 40, 41, 0.7);
  border-radius: 0.6rem;
  margin-left: 28rem;
  margin-top: 10rem;
  padding-top: 2rem;
}

/* TEAM.HTML SPECIFIC CSS */

section {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  margin-left: 8rem;
  align-items: stretch;
}

section img {
  height: 144px;
  width: 144px;
  border-radius: 50%;
}

div.team {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  margin-right: 1rem;
  padding-top: 1rem;
}

.bio {
  background-color: rgba(36, 40, 41, 0.7);
  border-radius: 1rem;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
}

section p {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

/* 800px media query begins */

@media (max-width: 800px) {
  a:link,
  a:visited {
    text-decoration: none;
    font-size: 1.5rem;
  }

  .navLinks {
    margin: 1rem 1rem;
  }

  /*index.html css*/

  h1 {
    font-size: 6.5rem;
  }
  h2 {
    font-size: 01rem;
  }
  #cta {
    align-content: flex-start;
    padding-right: 20rem;
  }

  #cta a {
    font-size: 2rem;
  }

  /*about.html css*/
  .about {
    font-size: 1.2rem;
    width: 50%;
    text-align: center;
    background-color: rgba(36, 40, 41, 0.7);
    border-radius: 0.6rem;
    margin-left: 5rem;
    margin-top: 12rem;
    padding-top: 2rem;
  }

  /*team.html css*/

  section {
    width: 80%;
    margin-top: 2%;
  }

  section img {
    height: 90px;
    width: 90px;
  }

  div.team {
    width: 25%;
    align-items: center;
    margin-right: 1rem;
    padding-top: 1rem;
  }

  section p {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}

/* 500px media query begins */


@media screen and (max-width: 500px) {
  html {
    background: url(img/bg500px.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%vh;
  }

  /*NAV CSS*/

  .line {
    width: 3rem;
    height: 0.4rem;
    background: white;
    margin: 0.5rem;
    border-radius: 15%;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    /* top: 50%; */ - didn't work for some reason 
    transform: translate(-5%, -1rem);
    z-index: 2;
    margin-top: 2rem;
  }

  .navLinks {
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background: #242829;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .navLinks.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }

  .navLinks li a {
    font-size: 2.5rem;
  }

  /*index.html CSS */

  #cta {
    padding-right: 0rem;
  }

  h1 {
    font-size: 7rem;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
  }


h2 {
  padding-bottom: .5rem;
}

button {
  font-size: 2.3rem;
  padding: 0.15rem 1.6rem;
}

  /* about.html CSS */

  .aboutContent {
    display: flex;
    flex-direction: column;
  }

  .about {
    font-size: 1rem;
    width: 70%;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 2rem;
  }
}
